<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="prefixXlsPath" value="C:\\Tesla's files\\Projects\\Tesla.ItcastCater\\Tesla.ItcastCater\\TestData\\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="reportpath" value="C:\\Tesla's files\\Projects\\Tesla.ItcastCater\\Tesla.ItcastCater\\Report\\" />
    <add key="TakeScreenshotFailedStep" value="true"/>
    <add key="TakeScreenshotPassedStep" value="false"/>
  </appSettings>
</configuration>